html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}



.contains{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.contains::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* ::-webkit-scrollbar {
  width: 2px;
  background: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 255, 1);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: cyan;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import url(//db.onlinewebfonts.com/c/0b5ecd0afcf95185925504cdca01f5e3?family=Druk+Wide+Cy+Web+Bold);
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Lato:ital,wght@1,300&family=Montserrat:wght@500&family=Poppins:wght@300&family=Praise&family=Roboto+Slab:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&family=Catamaran:wght@100&family=Fuzzy+Bubbles&family=Inter:wght@600&family=Lato:ital,wght@1,300&family=Manrope:wght@300;400&family=Montserrat:wght@500&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:ital,wght@0,100;0,300;1,400&family=Praise&family=Raleway:wght@100;400&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto+Slab:wght@100;200&family=Roboto:wght@300&family=Source+Sans+Pro&family=Space+Mono:ital@1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex_1 {
    flex: 1;
  }
  .flex_3 {
    flex: 3;
  }
  .mobileNav {
    
  }
  .image {
  background-image: url('/project.png');
}
}
